<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <meta
        name="description"
        content="Tech Glossary Hub - Explore technical concepts and developer terminology."
    >

    <title>
        {% block title %}
            Tech Glossary Hub
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/components.css') }}?v=1"
    >

</head>


<body>

    {% include "components/navbar.html" %}


    <main class="main-content">

        {% block content %}

        {% endblock %}

    </main>


    {% include "components/footer.html" %}


    <script
        src="{{ url_for('static', filename='js/main.js') }}"
    ></script>

</body>

</html>