{% extends "base.html" %}


{% block title %}
    Home | Tech Glossary Hub
{% endblock %}


{% block content %}

<section class="page-placeholder">

    <div class="container">

        <span class="eyebrow">
            TECH GLOSSARY HUB
        </span>

        <h1>
            Explore the Language
            of Technology.
        </h1>

        <p>
            Discover technical concepts, backend engineering
            principles, APIs, security, databases, testing,
            deployment, and more.
        </p>

        <div class="placeholder-actions">

            <a href="#" class="btn btn-primary">
                Explore Glossary
            </a>

            <a href="#" class="btn btn-secondary">
                Browse Categories
            </a>

        </div>

    </div>

</section>

{% endblock %}